/* Pagina Principal html*/

body {
    background-color: #111;
    margin-top: 60px;
}

.container {
    margin-top: 100px;
}

.aulasHome {
    margin-top: 180px;
}


.container a:link {
    text-decoration: none;
}

h2 {
    color: #fff;
}

/*fonts*/
#detalhesfont a {
    font-family: 'Brandon Grotesque Bold', sans-serif;
    font-family: 'Brandon Grotesque Regular', sans-serif;
}


/* 1modulo  2modulo  3modulo */

a:link {
    text-decoration:none;
}

.container ul {
    align-items: center;
    margin-bottom: 25px;
    color: #FFF;
    text-transform: uppercase;
}