.navbar {
    background-color: #111;
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav-item a,p {
    color: #ffffff;
    transition: .3s ease-in;
  }
  
  .navbar-toggler {
    outline: none !important;
    border: 0;
  }
  
  .nav-item a:hover {
    color: #ff0000;
  }
  
  ul li {
    display: inline;
    padding: 0 10px;
    color: #fff;
  }
  
  @media (min-width: 767px) {
    .btn-sair{
      position: absolute;
      right: 50px;
      margin-top: 20px;
   }
  }  
